<div id="layoutSidenav">
	<div id="layoutSidenav_nav">
		<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
			<div class="sb-sidenav-menu">
				<div class="nav">
					<a class="nav-link" href="{{ path('admin_dashboard') }}">
						<div class="sb-nav-link-icon">
							<i class="fas fa-tachometer-alt"></i>
						</div>
						Dashboard
					</a>
					<div class="sb-sidenav-menu-heading">Blog</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="far fa-newspaper"></i>
							</div>
							Articles
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{{ path('admin_blog_list') }}">Tous les articles</a>
								<a class="nav-link" href="{{ path('admin_blog_add') }}">Ajouter un article</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
							<div class="sb-nav-link-icon">
								<i class="far fa-comments"></i>
							</div>
							Commentaires
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{{ path('admin_comment_list') }}">Tous les commentaires</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
							<div class="sb-nav-link-icon">
								<i class="far fa-folder"></i>
							</div>
							Catégories
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseCategories" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{{ path('admin_category_list') }}">Toutes les catégories</a>
								<a class="nav-link" href="{{ path('admin_category_add') }}">Ajouter une catégorie</a>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Portfolio</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePortfolio" aria-expanded="false" aria-controls="collapsePortfolio">
							<div class="sb-nav-link-icon">
								<i class="fas fa-project-diagram"></i>
							</div>
							Projets
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapsePortfolio" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{{ path('admin_project_list') }}">Tous les projets</a>
								<a class="nav-link" href="{{ path('admin_project_add') }}">Ajouter un projet</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tags"></i>
							</div>
							Tags
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseTags" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{{ path('admin_tags_list') }}">Tous les tags</a>
							</nav>
						</div>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Connecté en tant que :</div>
					{% if app.user is not empty %}
						{{ app.user.name }}
					{% endif %}
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
