{% extends 'admin_blog.html.twig' %}

{% block title %}Ajouter un article{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container px-4 mx-0">
		<h1 class="mt-4">Ajouter un article</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_dashboard') }}">Dashboard</a>
			</li>
            <li class="breadcrumb-item active">Blog</li>
			<li class="breadcrumb-item active">Ajouter un article</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				<p class="mb-0">
                {{ form_start(form) }}
                <div class="article-top">
                    {{ form_label(form.title) }}
                    {% if form_errors(form.title) != null %}
                        <div class="form-error">{{ form_errors(form.title) }}</div>
                    {% endif %}
                    {{ form_widget(form.title, { 'attr': {'class': 'input-style'} }) }}
                    {{ form_widget(form.category, { 'attr': {'class': 'select-style'} }) }}
                </div>
                {{ form_label(form.content) }}
                {% if form_errors(form.content) != null %}
                    <div class="form-error">{{ form_errors(form.content) }}</div>
                {% endif %}
                {{ form_widget(form.content) }}
                <button type="submit" class="btn btn-success mt-2"><i class="fas fa-check"></i> Publier l'article</button> <a class="btn btn-info mt-2" href="{{ path('admin_blog_list') }}" role="button"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>
                {{ form_end(form) }}
                </p>
			</div>
		</div>
	</div>
{% endblock %}
