{% extends 'admin_blog.html.twig' %}

{% block title %}Editer un article{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container px-4 mx-0">
		<h1 class="mt-4">Editer : {{ post.title }}</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_dashboard') }}">Dashboard</a>
			</li>
            <li class="breadcrumb-item active">Blog</li>
			<li class="breadcrumb-item active">Editer un article</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				<p class="mb-0">
					{{ form_start(form) }}
					<div class="article-top">
						{{ form_label(form.title) }}
						{% if form_errors(form.title) != null %}
							<div class="form-error">{{ form_errors(form.title) }}</div>
						{% endif %}
						{{ form_widget(form.title, { 'attr': {'class': 'input-style'} }) }}
						{{ form_widget(form.category, { 'attr': {'class': 'select-style'} }) }}
					</div>
					{{ form_label(form.content) }}
					{% if form_errors(form.content) != null %}
						<div class="form-error">{{ form_errors(form.content) }}</div>
					{% endif %}
					{{ form_widget(form.content) }}
					<button type="submit" class="btn btn-success mt-2"><i class="far fa-edit"></i> Editer l'article</button>
					{{ form_end(form) }}
				</p>
				<a class="btn btn-info" href="{{ path('admin_blog_list') }}" role="button"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a> <a class="btn btn-danger" href="{{ path('admin_blog_delete', {id : post.id}) }}" role="button" onclick="return confirm('Etes-vous sur de vouloir supprimer l\'article ?');"><i class="far fa-trash-alt"></i> Supprimer l'article</a>
			</div>
		</div>
	</div>
{% endblock %}
