{% extends 'base_portfolio.html.twig' %}

{% block title %}
	Le dev d'un blog ou peut être l'inverse !{{ parent() }}
{% endblock %}

{% block description %}
<meta name="description" content="Chrisdev - Je suis developpeur backend, amoureux de Symfony, découvrez mon site/portfolio !" />
{% endblock %}

{% block body %}
	<main>
        <div class="hello">
            Bonjour !
        </div>
		<article>
            <p>
                Moi c'est Christopher <span class="italic">(mais je préfère <strong>Chris</strong>)</span>, bienvenue !
            </p>
            <p>
                J'ai pas mal cherché et regardé ce qui se faisait du côté de mes collègues dev' et finalement je suis arrivé à un constat :
            </p>
            <p>
                Je n'ai pas envie de faire un site ou vous allez devoir <span class="bold">scroller 3km de page</span> pas toujours très intéressante ou bien un site <span class="bold">avec 50 pages</span> pour faire comme si j'avais énormement de contenu à vous montrer.<br>
                Gagnons du temps et allons à l'essentiel :
            </p>
            <ul>
                <li>Je suis <strong>développeur web</strong>, avant ça j'ai fait des choses assez diverses, je vous laisse jeter un oeil <a href="https://www.linkedin.com/in/christopher-rousseau" target="_blank">sur mon Linkedin si ça vous intéresse</a>.</li>
                <li>J'habite dans le Puy-de-Dôme, proche de <strong>Clermont-Ferrand</strong> (63).</li>
                <li>J'aime beaucoup les jeux-vidéo et la randonnée !</li>
            </ul>
            <p>
                C'était rapide ! Si vous voulez en savoir plus, vous pouvez <a href="{{ path('contact') }}">m'envoyer un message</a>.
            </p>
		</article>
	</main>
        <div class="presentation">
            <div class="bloc">
                <a href="{{ path('blog_index') }}"><img src="{{ asset('assets/img/') }}blog.png" alt="Illustration (logo) d'un blog"></a>
                <p>
                    Je ne suis pas un blogueur dans l'âme mais il faut avouer que c'est pratique pour partager des choses.<br>
                    <a href="{{ path('blog_index') }}">Et c'est un blog fait à la main !</a>
                </p>
            </div>
            <div class="bloc">
                <p>
                    C'est ici que je vous montre mon travail, ce sur quoi j'ai participé ou totalement fait moi-même.<br>
                    <a href="{{ path('site_projects') }}">Voici mon portfolio !</a>
                </p>
                <a href="{{ path('site_projects') }}"><img src="{{ asset('assets/img/') }}portfolio.png" alt="Illustration (logo) du portfolio" class="portfolio"></a>
            </div>
            <div class="bloc">
                <a href="{{ path('contact') }}"><img src="{{ asset('assets/img/') }}contact.png" alt="Illustration (logo) d'une enveloppe"></a>
                <p>
                    Le moyen le plus simple et rapide pour m'envoyer un message ou une proposition d'embauche.<br>
                    <a href="{{ path('contact') }}">Un bon vieux mail à l'ancienne !</a>
                </p>
            </div>
        </div>
{% endblock %}
