{% extends 'base_portfolio.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
        <div class="bloc-project">
            <h1>Mes réalisations</h1>
            {% for project in allProjects %}
                <div class="project">
                <a href="{{ path('site_details', {slug : project.slug}) }}"><img src="{{ asset('uploads/screenshots/') }}{{ project.screenshot }}" alt="Capture d'écran du projet {{ project.name }}"></a>
                    <div>
                        <h2><a href="{{ path('site_details', {slug : project.slug}) }}">{{ project.name }}</a></h2>

                        {{ project.description|striptags|slice(0, 200) ~ '...' }}

                        <div class="info">
                            <a href="{{ path('site_details', {slug : project.slug}) }}">+ d'infos</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
