{% extends 'base_portfolio.html.twig' %}

{% block title %}
	Portfolio : Toutes mes réalisations{{ parent() }}
{% endblock %}

{% block description %}
<meta name="description" content="Mon portfolio où je vous montre mon travail. Sur quel projet j'ai travaillé et quelles technologies sont utilisées" />
{% endblock %}

{% block body %}
        <div class="bloc-project">
            <h1>Mes réalisations</h1>
            {% for project in allProjects %}
                <div class="project">
                <a href="{{ path('site_details', {slug : project.slug}) }}"><img src="{{ asset('uploads/screenshots/') }}{{ project.screenshot }}" alt="Capture d'écran du projet {{ project.name }}"></a>
                    <div>
                        <h2><a href="{{ path('site_details', {slug : project.slug}) }}">{{ project.name }}</a></h2>

                        <p>
                            {{ project.presentation }}
                        </p>

                        <div class="info">
                            <a href="{{ path('site_details', {slug : project.slug}) }}">+ d'infos</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="navigation">
			{{ knp_pagination_render(allProjects) }}
		</div>
        </div>
{% endblock %}
