{% extends 'base_portfolio.html.twig' %}

{% block title %}
	{{ project.name }}{{ parent() }}
{% endblock %}

{% block description %}
<meta name="description" content="{{ project.presentation }}" />
{% endblock %}

{% block body %}
    <div class="details">
        <div class="bloc-details">
            <h1>{{ project.name }}</h1>
            <div class="project-single">
                <h2>Description</h2>
                {{ project.description|raw }}
                <h2>Technologies utilisées</h2>
                <p>
                    {% for tags in project.tags %}
                        <span class="tag">{{ tags.name }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="links">
                {% if project.github != null %}
                    <div class="github-button"><a href="{{ project.github }}" target="_blank"><i class="fab fa-github"></i> Lien vers le Github</a></div>
                {% endif %}
                {% if project.link != null %}
                    <div class="project-button"><a href="{{ project.link }}" target="_blank"><i class="fas fa-link"></i> Lien vers le projet</a></div>
                {% endif %}
                <div class="list-button"><a href="{{ path('site_projects') }}"><i class="fas fa-long-arrow-alt-left"></i> Retour à la liste</a></div>
            </div>
        </div>
        <div class="screenshots">
            <img src="{{ asset('uploads/screenshots/') }}{{ project.screenshot }}" alt="Capture d'écran du projet {{ project.name }}">

            {% if project.screenshot2 != null %}
                <img src="{{ asset('uploads/screenshots/') }}{{ project.screenshot2 }}" alt="Seconde capture d'écran du projet {{ project.name }}">
            {% endif %}

            {% if project.screenshot3 != null %}
                <img src="{{ asset('uploads/screenshots/') }}{{ project.screenshot3 }}" alt="Troisième capture d'écran du projet {{ project.name }}">
            {% endif %}
        </div>
    </div>
{% endblock %}
