{% extends 'base_blog.html.twig' %}

{% block title %}
	Me contacter{{ parent() }}
{% endblock %}

{% block description %}
<meta name="description" content="Le moyen le plus simple et rapide pour m'envoyer un message, n'hésitez pas !" />
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="container-alert">
				<div class="alert alert-{{ label }}">
					<i class="far fa-comment"></i>
					{{ message }}
				</div>
			</div>
		{% endfor %}
	{% endfor %}
	<main>
		<article>
			<h2>
				Me contacter
			</h2>
			<p>Que vous souhaitiez m'envoyer un petit message ou bien m'embaucher, ça se passe ici :)</p>
			{{ form_start(form) }}
			{{ form_label(form.email) }}
			{% if form_errors(form.email) != null %}
				<div class="form-error">{{ form_errors(form.email) }}</div>
			{% endif %}
			{{ form_widget(form.email) }}
			{{ form_label(form.message) }}
			{% if form_errors(form.message) != null %}
				<div class="form-error">{{ form_errors(form.message) }}</div>
			{% endif %}
			{{ form_widget(form.message) }}
			<button type="submit" class="submit-margin"><i class="fas fa-check"></i> Envoyer l'email</button>
			{{ form_end(form) }}
		</article>
	</main>
{% endblock %}
