{% extends 'base_blog.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		{% for post in allPosts %}
			<article>
				<h2>
					<a href="#">{{ post.title }}</a>
				</h2>
				{{ post.content|raw }}
			</article>
			<div class="read-plus">
				<div class="read-next">
					<a href="#">Lire la suite</a>
				</div>
				<div class="info-article">le
					<strong>
						{{ post.createdAt|format_datetime('full', 'none', locale='fr') }}</strong>, dans
					<a href="#">{{ post.category.name }}</a>
				</div>
			</div>
		{% endfor %}

	</main>
{% endblock %}
