{% extends 'base_blog.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		{% for post in pagination_article %}
			<article>
				<h2>
					<a href="{{ path('blog_post_single', {'slug' : post.slug}) }}">{{ post.title }}</a>
				</h2>
				{{ post.content|slice(0, 500)|raw }}{% if post.content|length > 500 %}...{% endif %}
			</article>
			<div class="read-plus">
				<div class="read-next">
					<a href="{{ path('blog_post_single', {'slug' : post.slug}) }}">Lire la suite</a>
				</div>
				<div class="info-article">le
					<strong>
						{{ post.createdAt|format_datetime('full', 'none', locale='fr') }}</strong>, dans
					<a href="{{ path('blog_category_list', {'slug' : post.category.slug}) }}">{{ post.category.name }}</a>
				</div>
			</div>
		{% endfor %}
		<div class="navigation">
			{{ knp_pagination_render(pagination_article) }}
		</div>

	</main>
{% endblock %}
